ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.calendar_ogdans3_wrapper {
    width: 300px;
    height: 300px;
}

ul {
    list-style-type: none;
}

li {
    width: auto; 
    height: auto;
}

button {
    margin: 0px;
    padding: 0px;
}

.calendar_ogdans3_wrapper {
    font-size: 1em;
    line-height: 1em;
    font-family: Verdana, sans-serif;
}

.calendar_ogdans3_month {
    color: #660099;
}

.calendar_ogdans3_navigation {
    background-color: #660099;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.calendar_ogdans3_weekdays {
    color: #666;
    /*ulColor: "#ddd",*/
}

/* Month header */
.calendar_ogdans3_month {
    padding: 10px 25px;
    background-color: #660099;
    text-align: center;
}

.calendar_ogdans3_month ul {
    margin: 0;
    padding: 0;
}

.calendar_ogdans3_month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.calendar_ogdans3_month ul li span {
    font-size: 18px;
}

/* Previous button inside month header */
.calendar_ogdans3_month .calendar_ogdans3_navigation-previousButton {
    float: left;
    padding-top: 10px;
}

/* Next button */
.calendar_ogdans3_month .calendar_ogdans3_navigation-nextButton {
    float: right;
    padding-top: 10px;
}

.calendar_ogdans3_month .calendar_ogdans3_navigation button {
    background-color: #660099;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Weekdays (Mon-Sun) */
.calendar_ogdans3_weekdays, .calendar_ogdans3_explanation {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.calendar_ogdans3_weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.calendar_ogdans3_days {
    padding: 10px 0;
    background-color: #eee;
    margin: 0;
}

.calendar_ogdans3_explanation li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    font-size:10px;
    font-weight: bold;
    padding-left: 10px;
}

.calendar_ogdans3_explanation li span {
    margin-right: 5px;
    font-size: 8px;
}

.calendar_ogdans3_days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 10px;
    font-size:12px;
    color: #777;
    font-weight: bold;
}

.calendar_ogdans3_explanation li span {
    width: 15px;
    height: 15px;
    display: inline-block;
}

.calendar_ogdans3_days li span {
    padding: 6px;
}

.calendar_ogdans3_days li span.circle, .calendar_ogdans3_explanation li span.circle {
    border-radius: 100%;
    background-color: #1abc9c;
    width: 15px;
    height: 15px;
}

.calendar_ogdans3_explanation li span.square {
    padding: 2px;
}

.calendar_ogdans3_days li span.square {
    padding: 4px;
}

.calendar_ogdans3_days li span.square, .calendar_ogdans3_explanation li span.square {
    background-color: #cc0000;
    color: white;
}

.calendar_ogdans3_days span.hidden, .calendar_ogdans3_explanation span.hidden {
    visibility: hidden;
}

.calendar_ogdans3_days span.day.clickable:hover {
    cursor: pointer;

    border-radius: 100%;
    background-color: #660099;
    background-color: rgba(102, 0, 153, .75);
    color: #ffffff;
    width: 15px;
    height: 15px;
}
